<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Bug Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="slate.boostrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body>
  
  <div ng-app ng-controller="Buggy">
    <div class="navbar navbar-default navbar-fixed-top" >
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Bug Tracker</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navrbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">Help</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-md-12 center">
            <h1>Bug Tracker</h1>
            <input id="new-todo" type="text" ng-model="todoText"  size="30"
            placeholder="Pest control" ng-keyup="addTodo()"/>
            
            <section id="main" style="display: block;">
                <div ng-show="isTodo()">
                  <input id="toggle-all" type="checkbox" ng-model="markAll"
                    ng-click="toggleMarkAll()"/>
                  <label for="toggle-all">Mark all as complete</label>
                </div>
                
                <ul id="todo-list" class="unstyled">
                  <li ng-repeat="todo in todos" ng-dblclick="toggleEditMode()">
                    <div class="view" ng-keyup="editTodo()">
                      <input type="checkbox" ng-model="todo.done"/>
                      <span class="done-{{todo.done}}" >{{todo.text}}</span>
                    </div>
                    <input class="edit" type="text" ng-model="todo.text"
                      ng-keyup="editOnEnter(todo)"/>
                    </li>
                </ul>
            </section>
            
            <footer style="display: block;">
                <div class="todo-count">{{remaining()}} of {{todos.length}} remaining</div>
                  <a id="clear-completed" ng-click="clear()" ng-show="hasDone()">
                      Clear <span >{{(todos.length - remaining())}} {{itemText()}}</span>.
                  </a>
            </footer>
            
          </div>
        </div>
      </div>
    </div>
</div>
  </body>
</html>
